<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>    
    <link rel="stylesheet" href="../public/css/index/index.css">
    <link rel="stylesheet" href="../public/css/index/home.css">
    <link rel="stylesheet" href="../public/css/index/about.css">
    <link rel="stylesheet" href="../public/css/index/skills.css">
    <link rel="stylesheet" href="../public/css/index/projects.css">
    <link rel="stylesheet" href="../public/css/index/contact.css">
    <script src="../public/js/index/index.js" defer></script>
    <script src="../public/js/index/home.js" defer></script>
    <script src="../public/js/index/projects.js" defer></script>
    <title>Potifolio</title>
</head>
<body>
    <header class="l-header">
        <nav class="l-navigation">
            <ul class="c-nav-list">
                <li class="c-nav-item">
                    <a href="#about" class="c-nav-link">SOBRE</a>
                </li>
                <li class="c-nav-item">
                    <a href="#skills" class="c-nav-link">HABILIDADES</a>
                </li>
                <li class="c-nav-item">
                    <a href="#projects" class="c-nav-link">PROJETOS</a>
                </li>
                <li class="c-nav-item">
                    <a href="#contact" class="c-nav-link">CONTATO</a>
                </li>
            </ul>
            <div class="c-nav-hamburger">
                <span class="c-nav-bar"></span>
                <span class="c-nav-bar"></span>
                <span class="c-nav-bar"></span>
            </div>
        </div>
    </header>
    <main class="l-content">
        <section class="l-home">
            <div class="c-title">
                <h1 class="c-title__sentence c-title__sentence-primary">Web developer</h1><br>
                <h1 class="c-title__sentence c-title__sentence-secondary">Desenvolvedor web full-stack</h1><br>
            </div>
            <div class="c-code">
                <div class="c-code__liner-counter"></div>
                <div class="c-code__type">
                    <div class="c-code__sentece  c-code__sentece--hidden">
                        <div class="c-code__text"></div>
                        <div class="c-code__cursor c-code__cursor--active c-code__cursor--hidden"></div>
                        <div class="c-code__brackets c-code__brackets--hidden">}</div>
                    </div>
                    <div class="c-code__sentece  c-code__sentece--hidden c-code__sentece--tab">
                        <div class="c-code__text"></div>
                        <div class="c-code__cursor c-code__cursor--active c-code__cursor--hidden"></div>
                    </div>
                    <div class="c-code__sentece  c-code__sentece--hidden c-code__sentece--tab">
                        <div class="c-code__text code__text--link"></div>
                        <div class="c-code__cursor c-code__cursor--active c-code__cursor--hidden"></div>
                    </div>
                    <div class="c-code__sentece  c-code__sentece--hidden c-code__sentece--tab">
                        <div class="c-code__text code__text--link"></div>
                        <div class="c-code__cursor c-code__cursor--active c-code__cursor--hidden"></div>
                    </div>
                    <div class="c-code__sentece ">
                        <div class="c-code__brackets c-code__brackets--hidden">}</div>
                        <div class="c-code__cursor c-code__cursor--active c-code__cursor--hidden"></div>
                    </div>
                </div>
            </div>
            <div class="c-mobile-links">
                <div class="c-mobile-links__grid">
                    <a href="https://www.linkedin.com/in/caio-cavalcante-do-couto-759aa2224/" class="c-mobile-links__item">
                        <i class='bx bxl-linkedin' style='color:#ffffff' ></i>
                    </a>
                    <a href="https://github.com/caiocouto181" class="c-mobile-links__item">
                        <i class='bx bxl-github' style='color:#ffffff' ></i>
                    </a>
                </div>
            </div>
            <span class="chevron">
                <i class='bx bx-chevrons-down bx-fade-down' style='color:#f6f4f4' ></i>
            </span>
        </section>
        <section id="about" class="about">
            <div class="profile-container">
                <div class="c-section-header">
                    <h2 class="c-section-header-primary">Olá, eu sou</h2>
                    <h2 class="c-section-header-secondary">Caio Couto</h2>
                </div>
                <div class="profile-container-body">
                    <div class="body-image"></div>
                    <p class="body-text">Olá meu nome é Caio Cavalcante do Couto, atuo na área de desenvolvimento web, Front-end e Back-end. Estou em busca da minha primeira oportunidade para desenvolver sites no mercado de trabalho, tenho contato com a programação des dos meus 12 anos e sou uma pessoa que procura a cada dia me atualizar para poder oferecer um bom serviço. Atualmente estou aplicando os meus conhecimentos e habilidades em projetos pessoais.</p>
                </div>
            </div>
        </section>
        <section id="skills" class="skills">
            <div class="skills-container">
                <div class="c-section-header">
                    <h2 class="c-section-header-primary">Minhas</h2>
                    <h2 class="c-section-header-secondary">habilidades</h2>
                </div>
                <div class="skills-container-body">
                    <div class="titleBrackets">
                        <span class="titleBrackets-brackets">{</span>
                        <h3 class="titleBrackets-title">Front-end</h3>
                    </div>
                    <div class="skiils-grid-conatiner">
                        <div class="skiils-grid-item">
                            <i class='bx bxl-html5' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> HTML5 </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bxl-css3' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> CSS3 </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bxl-bootstrap' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> BOOTSTRAP </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bxl-jquery' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> JQUERY </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bxl-javascript' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> JAVASCRIPT </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bx-plus grid-item-last' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> Aprendendo novas tecnologias </span>
                        </div>
                    </div>
                    <div class="titleBrackets">
                        <span class="titleBrackets-brackets">{</span>
                        <h3 class="titleBrackets-title">Back-end</h3>
                    </div>
                    <div class="skiils-grid-conatiner">
                        <div class="skiils-grid-item">
                            <i class='bx bxl-nodejs' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> NODEJS </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bxl-mongodb' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> MONGODB </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bxl-vuejs' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> VUEJS </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bxl-firebase' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> FIREBASE </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bxs-data' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> MYSQL </span>
                        </div>
                        <div class="skiils-grid-item">
                            <i class='bx bx-plus grid-item-last' style='color:#ffffff' ></i>
                            <span class="grid-item-description"> Aprendendo novas tecnologias </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section id="projects" class="projects">
            <div class="projects-container">
                <div class="c-section-header">
                    <h2 class="c-section-header-primary">Meus</h2>
                    <h2 class="c-section-header-secondary">Projetos</h2>
                </div>
                <div class="projects-slider-container">
                    <div class="l-slide">
                        <div class="l-slide-wrapper">
                            <div class="c-slide-btn c-slide-prev bx bxs-chevron-left"></div>
                            <div class="c-slide-btn c-slide-next bx bxs-chevron-right"></div>
                            <div class="c-slide-gradinte-bar c-slide-gradinte-bar-left"></div>
                            <div class="c-slide-gradinte-bar c-slide-gradinte-bar-right"></div>
                            <div class="c-slide-list">
                                <div class="c-slide-card" data-index="1">
                                    <div class="c-slide-content">
                                        <img class="c-slide-image" src="../public/img/index/slide-card-1.png" alt="Agenda do Aluno">
                                        <div class="c-slide-description">
                                            <h3 class="c-slide-title">Agenda do Aluno</h3>
                                            <p class="c-slide-text">Projeto Próprio. Agenda de aulas online, onde o usuário pode criar matérias e adicionar horários no dasboard. Acesse o repositório do projeto no GitHub clicando <a target="_blank" href="https://www.google.com/">aqui</a>.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-slide-card" data-index="2">
                                    <div class="c-slide-content">
                                        <img class="c-slide-image" src="../public/img/index/slide-card-2.png" alt="Página de login">
                                        <div class="c-slide-description">
                                            <h3 class="c-slide-title">Página de login</h3>
                                            <p class="c-slide-text">Projeto Próprio. Página de login e registro online, onde o usuário tem a opção de fazer login ou registrar uma nova conta, o site conta com um sistema de detecção de espaços vazios e email inválido. Acesse o repositório do projeto no GitHub clicando <a target="_blank" href="https://github.com/caiocouto181/registrationPage">aqui</a>.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-slide-card" data-index="3">
                                    <div class="c-slide-content">
                                        <img class="c-slide-image" src="../public/img/index/slide-card-3.png" alt="Página de One piece">
                                        <div class="c-slide-description">
                                            <h3 class="c-slide-title">Página de One piece</h3>
                                            <p class="c-slide-text">Projeto Próprio. Fanpage de one piece, Página estática com tema de One piece que demonstra o uso do display grid. Acesse o repositório do projeto no GitHub clicando <a target="_blank" href="https://github.com/caiocouto181/onePiece">aqui</a>.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-slide-card" data-index="4">
                                    <div class="c-slide-content">
                                        <img class="c-slide-image" src="../public/img/index/slide-card-more-projects.png" alt="Mais Projetos em breve">
                                        <div class="c-slide-description">
                                            <h3 class="c-slide-title">Mais Projetos em breve</h3>
                                            <p class="c-slide-text">Estou sempre trabalhando em projetos novos para aprimorar minhas habilidades e aplicar meus conhecimentos.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-slide-pagination">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="contact-container">
                <div class="c-section-header">
                    <h2 class="c-section-header-primary">Entre em</h2>
                    <h2 class="c-section-header-secondary">Contato</h2>
                </div>
                <div class="contact-container-body">
                    <div class="contact-list">
                        <div class="contact-list-item">
                            <i class='bx bxl-whatsapp' style='color:#ffffff' ></i>
                            <div class="contact-list-desciption" >
                                Entre em contato pelo whatsapp (75)981560050
                            </div>
                        </div>
                        <div class="contact-list-item">
                            <i class='bx bx-envelope' style='color:#ffffff'  ></i>
                            <div class="contact-list-desciption" >
                                Entre em contato pelo e-mail: caiokj517@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>