@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.about
{
    max-width: 1800px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.profile-container
{
    width: 90%;
    height: 90%;
}
.profile-container-header
{
    width: 100%;
    height: 190px;
}
.profile-container-body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    height: calc(100% - 200px);
}
.body-image
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    outline: 2px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
.body-image img
{
    width: 200px;
}
.body-text
{
    text-align: left;
    color: #ffff;
    width: calc(100% - 250px);
    width: 100%;
}
.profile-cv-button
{
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    color: white;
    background-image: linear-gradient(to left, #1B0CF6, #0B34D4, #006DEB, #0B9DD4, #0CF4F6);
    outline: 2px solid rgba(255, 255, 255, 0.2);
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.7;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    user-select: none;
}
.profile-cv-button a
{
    text-decoration: none;
    color: white;
}
.profile-cv-button:hover
{
    opacity: 1;
}
@media only screen and (max-width: 1040px)
{
    .profile-cv-button
    {
        opacity: 1;
    }
}
@media only screen and (max-width: 525px)
{
    .profile-container-header
    {
        height: 100px;
    }
    .profile-container-body
    {
        flex-direction: column;
    }
    .profile-header-text
    {
        font-size: 30px;
    }
    .body-text
    {
        width: 90%;
    }
    .body-image
    {
        margin-bottom: 20px;
    }

}
