@keyframes pulseAnimation
{
    100%
    {
        opacity: 0;
        transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
    }
}
.projects
{
    position: relative;
    max-width: 1800px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.projects-container
{
    width: 100%;
}
.projects-container-header
{
    width: 100%;
    height: 150px;
}
.l-slide
{
    height: 100%;
    display: flex;
    align-items: center;
}
.l-slide-wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.c-slide-list
{
    display: flex;
    align-items: center;
}
.c-slide-card
{
    user-select: none;
    flex-shrink: 0;
    padding: 0 10px;
    max-width: 600px;
    width: 60vw;
}
.c-slide-card:not(.active) .c-slide-content
{
    transform: scale(0.95);
}
.c-slide-card:hover .c-slide-description
{
    opacity: 1;
}
.c-slide-content
{
    box-sizing: content-box;
    border-radius: 10px;
    cursor: grab;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform 0.5s ease-out;
}
.c-slide-image
{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.c-slide-description
{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
}
.c-slide-title
{
    border-radius: 10px 10px 0px 0px;
    padding: 3px;
    text-align: center;
    background-color: rgba(45, 45, 45, 0.785);
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}
.c-slide-text
{
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px;
    text-align: justify;
    background-color: rgba(45, 45, 45, 0.785);
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
}
.c-slide-btn
{
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: none;
    cursor: pointer;
    font-size: 36px;
    position: absolute;
    z-index: 1;
    color: white;
    background: transparent;
    padding: 5px;
    background-color: #1c1b1bae;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.c-slide-btn.c-slide-prev
{
    left: 10px;
}
.c-slide-btn.c-slide-prev.active
{
    display: block;
}
.c-slide-btn.c-slide-next
{
    right: 10px;
}
.c-slide-btn.c-slide-next.active
{
    display: block;
}
.c-slide-pagination
{
    margin: 20px auto auto;
}
.c-slide-pagination-btn
{
    color: rgb(135, 135, 135);
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 3px;
}
.c-slide-pagination-btn.c-slide-pagination-btn--active
{
    color: #0B9DD4;
}
.c-slide-mobile
{
    display: none;   
    color: white;
}
.l-github
{
    margin: 40px auto 0px auto;
    max-width: 800px;
    width: 90%;
    height: 150px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.l-github .c-github-wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.l-github .c-github-image
{
    width: 100px;
    height: 100px;
}
.l-github .c-github-avatar
{
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.l-github .c-github-info
{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.l-github .c-github-title
{
    width: 100%;
    display: flex;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 10px;
}
.l-github .c-github-text
{
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.l-github .c-github-rep-title
{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.l-github .c-github-pulse
{
    margin: 5px 5px 0px 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(0, 255, 4);
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.l-github .c-github-pulse span
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    opacity: 0.8;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    animation: pulseAnimation 4s ease-out infinite;
    -webkit-animation: pulseAnimation 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}
.l-github .c-github-updated
{
    font-size: 14px;
    font-weight: 400;
    color: rgb(145, 145, 145);
}
.l-github .c-github-description
{
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    padding: 0px 10px 0px 10px;
    color: white;
}
@media only screen and (max-width: 510px)
{
    .c-slide-card
    {
        width: 100vw;
        padding: 0px 0px;
    }
    .c-slide-content
    {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    .c-slide-image
    {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    .c-slide-mobile
    {
        display: inline;
        margin: 0px 20px;
    }
    .c-slide-mobile p 
    {
        overflow: hidden;
        width:100%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .c-slide-mobile i
    {
        color: #0B9DD4;
        font-weight: 800;
        font-style: normal;
        cursor: pointer;
    }
    .c-slide-description
    {
        display: none;
    }
    .c-slide-title
    {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    .c-slide-text
    {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    .c-slide-btn.c-slide-prev.active, .c-slide-btn.c-slide-next.active
    {
        display: none;
    }
    .c-slide-card:not(.active) .c-slide-content
    {
        transform: scale(1);
    }
    .c-slide-pagination
    {
        margin: 0 auto auto;
    }
    .c-slide-pagination-btn
    {
        font-size: 0.6rem;
    }
    .l-github
    {
        width: 90%;
        height: 110px;
        padding: 8px 15px;
    }
    .l-github .c-github-image
    {
        width: 60px;
        height: 60px;
    }
    .l-github .c-github-info
    {
        width: calc(100% - 60px);
    }
    .l-github .c-github-text
    {
        font-size: 16px;
    }
    .l-github .c-github-pulse
    {
        width: 10px;
        height: 10px;
    }
    .l-github .c-github-updated
    {
        font-size: 11px;
    }
    .l-github .c-github-description
    {
        font-size: 14px;
    }
}
