@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.skills
{
    max-width: 1800px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.skills-container
{
    width: 90%;
    height: 90%;
}
.skills-container-header
{
    width: 100%;
    height: 190px;
}
.skills-container-body
{
    width: 100%;
    height: calc(100% - 200px);
}
.titleBrackets
{
    width: 100%;
}
.titleBrackets-brackets
{
    background-image: linear-gradient(to bottom, #1B0CF6, #0B34D4, #006DEB, #0B9DD4, #0CF4F6, #0CF4F6, #0CF4F6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 120px;
    font-weight: 1000;
}
.titleBrackets-title
{
    position: relative;
    top: -20px;
    color: white;
    font-size: 60px;
    display: inline;
}
.skills-grid-conatiner
{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.skills-grid-item
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 100px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.skills-grid-item::before
{
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    border-radius: inherit;
    z-index: 2;
    background: radial-gradient( 800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.1), transparent 20%);
    opacity: 0;
    transition: opacity 500ms;
}
.skills-grid-item:hover::before
{
    opacity: 1;
}
.skills-grid-item:last-of-type
{
    font-size: 90px;
}
.skills-grid-item:last-of-type i
{
    margin-bottom: 20px;
}
.skills-grid-item > i
{
    font-size: 90px;
    margin-bottom: 10px;
}
.grid-item-description
{
    width: 90%;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 20px;
}
@media only screen and (max-width: 1040px)
{
    .skills-grid-item:last-of-type
    {
        font-size: 90px;
    }
    .skills-grid-item:last-of-type .bx
    {
        font-size: 100px;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 525px)
{
    .skills-grid-item
    {
        max-width: 100%;
        min-height: 150px;
    }
    .skills-grid-item > .bx
    {
        font-size: 80px;
    }
    .grid-item-description
    {
        font-size: 14px;
    }
    .skills-container-header
    {
        height: 100px;
    }
    .skills-container-body
    {
        flex-direction: column;
    }
    .skills-header-text
    {
        font-size: 30px;
    }
    .titleBrackets-brackets
    {
        font-size: 80px;
    }
    .titleBrackets-title
    {
        font-size: 35px;
        top: -14px;
    }
    .skills-grid-conatiner
    {
        grid-template-columns: repeat(2, 1fr);
    }
}